body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

nav {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  /*background-color: #16b793;*/
}

nav img {
  width: 250px;
  height: 75px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover{
  color: #16b793;
  text-decoration: underline;
}

ul.nav {
  list-style: none;
  padding: 10px;
  font-weight: bold;
}

ul.nav li {
  display: inline;
  margin-right: 30px;
}

.main-image img {
  width: 100%;
  margin-top: 20px;
}

@media all and (min-width: 600px){
  nav {
    max-width: 700px;
    height: 75px;
  }

  nav img {
    float: left;
  }

  ul.nav {
    float: right;
    margin-top: 20px;
  }
}
